<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<h1>
Create Product
</h1>

<body>

<form action="/action_page.php">
  Name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br><br>
  Discription:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  Price:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  Quantity:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>